@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-curve {
  /* Set the shape-outside property to create the curve shape */
  shape-outside: ellipse(50% 100% at 50% 0);
  /* Set the clip-path property to hide the overflowed text outside the curve shape */
  clip-path: ellipse(50% 100% at 50% 0);
  /* Adjust other styling as desired */
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  width: 200px;
}